<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
    <h1>Intervenant</h1>

      <div class="container">
        <table>
          <th>Nom du projet</th>
          <th>Voir</th>

      {% for projet in projets%}
      <tr>
        <td>{{ projet.Nom}}</td>
        <td> <a href="{% url 'projet' projet.id %}">Voir</a></td>
      </tr>

      {% empty %}
        <tr>
          <td>
          Aucun projet
          </td>
        </tr>
      {% endfor %}
        </table>
    </div>
  </body>
</html>
